body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}
.title{
 background-color:#ccc;
 background-image:url("saban.jpg");
 height: 950px;
 padding: 0px;
 border: 5px;
 border-style: solid;
 margin: 0px;
 background-image
}
h1 {
  -webkit-text-stroke: 1.0px #000000;
  -webkit-text-fill-color: #FFFFFF;
	font-family: 'Times', serif;
	font-size: 78px;
	text-align: center;
	font-style: bold;
  height: 200px;
}

h2 {
	color: #000000;
	font-family: 'Times New Roman', serif;
	font-size: 56px;
	text-align: center;
}
ul{
  text-align:center;
  list-style-position: inside;
}
li{
  list-style-type: hiragana;
}
.names {
	color:#fff;
	font-family: 'Courier New', serif;
	font-size: 56px;
	display: inline-block;
}

.glossary{
  padding: 0px;
  margin: 0px;
 background-color: #fff;
}
.glist{
  font-size: 20px;
}


