body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

h1 {
	color: #14213D;
	font-family: 'Times New Roman', serif;
	font-size: 72px;
	text-align: center;
}

h2 {
	color: #000000;
	font-family: 'Times New Roman', serif;
	font-size: 56px;
	text-align: center;
}

